h1{
	font-family:'Arimo';
	font-weight:bold;
	padding:20px;
	z-index:-1;
}

#single-player, #multi-player {
	opacity:0.7;
	font-weight:bold;
	color:white;
	font-family:'Arimo';
	height: 54;
	width: 139;
	
}

#single-player {
	background-color:#03a9f4;
}

#multi-player {
	background-color:#00bcd4;
}

#single-player:hover,#multi-player:hover {
	background-color:#32CD32;
}

@media (min-width: 500px){
	h1{
		position:absolute;
		top:10%;
		left:35%;
	}

	#single-player{
	position:relative;
	top:18%;
	left:40%;
	}

	#multi-player{
	position:relative;
	top:18%;
	left:41%;

	}
}

@media (max-width: 499px){
	h1{
		position:absolute;
		top:10%;
		left:35%;
	}

	#single-player{
	position:relative;
	top:78%;
	left:40%;
	}

	#multi-player{
	position:relative;
	top:73%;
	left:40%;

	}	
}